/*#logo {
    width: 100%;
}*/

.overviewmain,
.main {
    display: flex;
    flex-direction: column;
    
}

.main {
    padding-left: 5%;
}

.options {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    
    
}


button {
    background-color: #00000091;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
}



button:hover {
    background-color: #000000f3;
}

h3,
h1 {
    font-family: sans-serif ;
    color: white;
}

h3 {
    font-size: 20pt;
}

h1 {
    font-size: 35pt;
    margin: 0 0;
}

.h1home {
    padding-top: 10%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 4%;
}

.background {
    background-attachment: fixed;
    background-size: cover;
}




@media screen and (max-width:830px) {
    #logo {
        width: 70%;
    }
    .navigation {
        display: grid;
        grid-template-columns: 40% 10% 40%;  
    }
    .options{
        padding-right:15%;
        padding-top: 8%;
    }
    .logo {
        padding-left: 15%;
    }
}


@media screen and (max-width:693px) {
    #logo {
        width: 20%;
    }
    .navigation {
        display: flex;
        flex-direction: column;   
    }
    .options {
        justify-content: space-between;
        padding-right:0%;
        padding-top: 2%;
    }
    .logo {
        padding-left: 0%;
        text-align: center;
    }
}


@media screen and (min-width: 831px){
    #logo {
        width: 50%;
    }
    .navigation {
        display: grid;
        grid-template-columns: 40% 20% 40%; 
    }
    .options{
        font-size: 10pt;
        padding-right:15%;
        padding-top: 8%;
    }
    .logo {
        padding-left: 15%;
    }
}  