/*.navigation {
    display: grid;
    
    grid-template-columns: 40% 20% 40%; 

    
}*/
/*
.logo {
    padding-left: 15%;
}*/

html {
    background-color: rgb(17, 17, 17);
}

.options {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 4%;
}

#logo {
    width: 100%;
}
/*
main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}
 */

.infoButton {
    background-color: #6ccffd;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*border-radius: 8px;*/
}

.main,
main {
    padding-top: 5%;
}

.box {
    /*display: inline-block;*/
    width: 10px; 
    height: 10px; 
    border: 0px solid white;
    background-color: #6ccffd;
    border-radius: 50%;/* Adjust box color as needed */
    /*margin-right: 5px; /* Adjust margin between box and word */
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.praise,
.acknowledge,
.commit {
    color: white;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2%;
}

.praise,
.acknowledge,
.commit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
}


h1 {
    color: #ffffff;
    text-shadow: 2px 2px #6ccffd;
    text-decoration: underline;
}

.text {
    font-weight: lighter;
}

.praise {
    display: flex;
    flex-direction: column;
    /*align-self: center;
    align-content: center;*/
}

.special {
    /*border: 2px solid white;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    /*background-color: rgb(0, 0, 0);*/
}

.special p{
    color: rgb(250, 247, 247);
}

@media screen and (max-width:820px) {
    /*#logo {
        width: 70%;
    }*/
    .navigation {
        display: grid;
        grid-template-columns: 40% 10% 40%;  
    }
    .logo {
        padding-left: 15%;
    }
    .options{
        padding-right:15%;
        padding-top: 8%;
    }
    .main {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
    }
    .mains {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-around;
    }
}


@media screen and (max-width:693px) {
    /*#logo {
        width: 100%;
    }*/
    .navigation {
        display: flex;
        flex-direction: column;   
    }
    .options {
        justify-content: space-between;
        padding-right:0%;
        padding-top: 2%;
    }
    .logo {
        padding-left: 0%;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    
}


@media screen and (min-width: 821px){
   /*#logo {
        width: 50%;
    }*/
    .navigation {
        display: grid;
        grid-template-columns: 40% 20% 40%; 
    }
    .options{
        padding-right:15%;
        padding-top: 8%;
    }
    .logo {
        padding-left: 15%;
    }
    .main {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
    }
    .mains {
        display: grid;
        grid-template-columns: 45% 45% ;
        justify-content: space-around;
    }
}  